<div class="list_item" style="margin-left: {{ indent }}em;">
{# {% if model.display_color != "FFFFFF" or model.display_color != "#FFFFFF" %} #}
{# -webkit-linear-gradient(85deg, #F9FFB4 0%,rgba(240,255,220,0) 50%); #}
    <p class="list_item_left left">
        <span style="background-color: {{ model.display_color }};" class="priority"></span>
        <span class="text">{{ model.text }}</span>
        <span class="path">{{ model.display_path }}</span>
    </p>

    <p class="markers right">
    {% for tag in model.tags.all %}
        <span class="box {{ tag.tag.name }}">{{ tag.tag.name }}</span>
    {% endfor %}

    {% if model.progress != None %}
        <span class="box bg_{{ model.progress_text }}">{{ model.progress_nice_text }}</span>
    {% endif %}
    </p>
	<div style="clear: both;"></div>
</div>