{% extends "index.html" %}

{% block content %}

<div id="order_by">
Order by:
<a href="{% url tasks/list/stream/order_by/order stream.name current_map current_sheet "color" order %}">by color</a> |
<a href="{% url tasks/list/stream/order_by/order stream.name current_map current_sheet "progress" order %}">by progress</a> |
<a href="{% url tasks/list/stream/order_by/order stream.name current_map current_sheet "date_created" order %}">by date</a>
</div>

<div class="list">
{{ task_list }}
</div>

{% endblock %}

{% block aside %}

<a href="{% url tasks/list/stream stream.name %}">All</a>

{% for map in maps %}
<div class="map">
    <a href="{% url tasks/list/stream/mmap stream.name map.id %}">{{ map.filename }}</a>
    ({{ map.last_synced|date:"j. b. G:i" }})
    {% for sheet in map.sheets.all %}
    <div class="sheet">
        <a href="{% url tasks/list/stream/mmap/sheet stream.name map.id sheet.id %}">
        {{ sheet.title }}</a>
    </div>
    {% endfor %}
</div>
{% endfor %}
{% endblock %}

{% block js %}
<script>
$(".list_item").hover(
  function () {
    var priority_color = $(this).find("p.list_item_left span.priority").css("background-color");
    var result_color = null;
    if (priority_color == "rgba(0, 0, 0, 0)" || priority_color == "rgba(255, 255, 255, 255)") {
      result_color = "rgba(220, 220, 220, 255)";
    }
    else {
      result_color = priority_color;
    }
    $(this).css("background-color", result_color);
    var path = $(this).find("p.list_item_left span.path");
    if (path != null && path.text() != null && path.text() != "") {
        path.css("display", "inline");
    }
  },
  function () {
    $(this).css("background-color", "white");
    $(this).find("p.list_item_left span.path").css("display", "none");
  }
);
</script>
{% endblock %}